@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.imagem {
    background: url(../img/istockphoto-1206200396-612x612.jpg) no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.carregamento {
    font-size: 90px;
    color: #fff;
}
